      <div class="topnav">
        
  <a class="active" href="./index.html">CHATly</a>  
  <a href="/signup">Create Account</a>
  <a href="/login">Login</a>
  <a href="/logout">Logout</a>
</div>
    <div class="join-container">
			<header class="join-header">
				<h1> CHATly</h1>
			</header>
			<main class="join-main">
				<form action="chat.html">
                    <div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>

                    <!-- <div class="nameInput">
                        <div class="field">
                            <label>First Name</label>
                            <input type="text" placeholder="First Name" name="firstname"
                            required />
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input type="text" placeholder="Last Name"
                            required />
                        </div>
					<div class="field">
                        <label>Email Address</label>
                        <input type="text" placeholder="Enter your email address"
                        required />
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" placeholder="Enter a new password"
                        required />
                    </div> -->
                    <div class="form-control">
						<label for="room-name">Choose a Room</label>
						<select name="room-name" id="room-name">
							<option value="Azeroth">Azeroth</option>
							<option value="Shadowlands">Shadowlands</option>
							<option value="Pandaria">Pandaria</option>
						</select>
					</div>
                    
					<button type="submit" class="btn">Join CHATly</button>
            </form>
        </section>
    </div>
</body>